* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    display: inline;
}

div h3 {
    margin-top: 5px;
}

div ul {
    margin-top: 14px;
}

ul li {
    padding-right: 10px;
}

/*
    настройки части с контентом
*/

.main-fluid {
    background-color: #FEEFE9;
}

.main-container {
    background-color: white;
    padding-bottom: 300px;
}


.content .create h4 {
    margin: 10px 0;
}

.create .field-name {
    margin: 10px 0;
    padding-left: 0px;
}

.input-part .post-title-input {
    width: 50%;
    height: 100px;
}





.input-part .post-submit {
    width: 100%;
    background-color: azure;
    border-radius: 5px;
    border: 1px solid gray;
}



/* сайдбар с профилем пользователя */
.content-important  h4 {
    margin: 10px 0;
}

.content-important .important{
    margin: 10px 0;
    padding: 10px 0;
    border-top: 5px solid #331E1C;
}

.important p {
    margin: 0px;
    padding: 0px;
}


.important p a {
    margin-top: 20px;
    font: bold;
}





