* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    display: inline;
}

div h3 {
    margin-top: 5px;
}

div ul {
    margin-top: 14px;
}

ul li {
    padding-right: 10px;
}
/*
    Настройки хедера
*/

header {
    height: 50px;
    background-color:aquamarine;
    position: relative;
}

header div {
    height: inherit;
}

/*
    настройки части с контентом
*/

.content .create h4 {
    margin: 10px 0;
}

.create .field-name {
    margin: 10px 0;
    padding-left: 0px;
}

.field-name .input-part .post-input-radio {
    margin-right: 10px;
}

.input-part .post-text-input {
    width: 100%;
    height: 400px;
}

.input-part .post-submit {
    width: 100%;
    background-color: azure;
    border-radius: 5px;
    border: 1px solid gray;
}



/* сайдбар с важными новостями */
.content-important  h4 {
    margin: 10px 0;
}

.content-important .important{
    background-color: bisque;
    margin: 10px 0;
    padding: 10px 0;
}

.important p a {
    padding-top: 50px;
}






/* 
  Футер
*/

footer {
    margin-bottom: 0;
    background-color: aquamarine;
    position: absolute;

}

.footer-content .footer-other-series {
    height: 200px;
    background-color:antiquewhite;
}

.footer-content .footer-contacts {
    background-color: brown;
}

.footer-policy {
    background-color: chocolate;
}