* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    display: inline;
}

div h3 {
    margin-top: 5px;
}

div ul {
    margin-top: 14px;
}

ul li {
    padding-right: 10px;
}



/*
    настройки части с контентом
*/
.main-fluid {
    background-color: #FEEFE9;
}

.main-container {
    background-color: white;
    padding-bottom: 100px;
}

.content .content-post {
    padding: none;
}

.content-post  h4 {
    margin: 10px 0;
}

.content-post .post {
    margin: 10px 0;
    border: 1px solid bisque;
    border-radius: 20px;
}

.post .post-image {
    padding: 10px 0;
}

.post .post-text {
    padding: 10px;
}

.post .post-text h5 a {
    margin: 10px 0;
}

.post .post-text p {
    padding: 0;
    margin: 10px 0;
}


/* сайдбар с важными новостями */
.content-important  h4 {
    margin: 10px 0;
}

.content-important .important{
    border-top: 1px solid red;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 0;
}

.important a {
    padding: 0 10px;
}
