
/* 
    Глобальные настроки
*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    display: inline;
}

div h3 {
    margin-top: 5px;
}

div ul {
    margin-top: 14px;
}

ul li {
    padding-right: 10px;
}
/*
    Настройки хедера
*/

header {
    height: 50px;
    background-color:aquamarine;
    position: relative;
}

header div {
    height: inherit;
}

/*
    Основная часть  
*/
.content .team-container h4 {
    margin: 10px 0;
}

.championship-image img {
    border: 1px solid black;
}


.team-container .team {
    margin: 50px 0;
    border-top: 1px solid black;
}

.team-container .team p {
    padding: 0 0;
    margin: 10px 0;
    font-weight: bold;
}

.team .driver {
    padding: 0 0;
    text-align: center;
}

.team .driver p{
    font-weight: normal;
    padding: 0 0;
    text-align: center;
    
}





/* часть с важными новостями */
.content .content-important h4 {
    margin: 10px 0;
}

.content .content-schedule div {
    margin: 10px 0;
}



/*
 Футер
*/
footer {
    margin-top: 100px;
    background-color: aquamarine;
}

.footer-content .footer-other-series {
    height: 200px;
    background-color:antiquewhite;
    padding: 10px;
}

.footer-content .footer-contacts {
    background-color: brown;
}

.footer-content .footer-policy {
    background-color: chocolate;
}